* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #fffaf5;
}

/* Common - Dùng chung cả dự án */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    --height: 56px;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 99px;

    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9; /* Không thể dùng chung đc, bởi vì sẽ đồng thời thay đổi màu viền và chữ */
    cursor: pointer;
}

.btn--primary {
    color: white;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}

.section__heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section__desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* ------------------------------------------------ Header ------------------------------------------------ */
.header {
    padding: 26px 0px;
}

.container {
    width: 1170px;
    max-width: calc(
        100% - 48px
    ); /* Khi trình duyệt co giãn thì khoảng cách 2 bên là 24px */
    margin: 0 auto;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__list .navbar__link,
.header-action__links {
    padding: 8px 18px; /* Tăng vùng click chuột. Dùng Margin thì cần phải click vào đúng vị trí */
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.navbar__link:hover {
    color: 000958;
    text-shadow: 1px 0 0 currentColor; /* Nếu dùng font-weight 600 thì sẽ bị giật */
    cursor: pointer;
}

.header-action__btn {
    --height: 50px;
    min-width: 117px;
}

/* ------------------------------------------------ Hero ------------------------------------------------ */
.hero {
    margin-top: 74px; /* Lí do là bởi vì ở phần Header đã padding trên dưới 26px */
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px; /* Lí do làm điều này là nếu có 1 thẻ hoặc 1 nội dung nào đc them vào - sẽ nằm dưới gầm nội dung ảnh */
}
.hero__img--wrap {
    position: relative;
    display: flex; /* Trường hợp ảnh nhỏ lại thì ảnh sẽ bay lên cao - không nằm dưới đáy */
    align-items: flex-end;
    justify-content: center;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border-radius: 16px;
    border: 3px solid white;
}

/* Trường hợp ảnh nhỏ lại thì ảnh sẽ bay lên cao - không nằm dưới đáy */

.hero__img {
    /* Làm sao để thay thế ảnh lớn hơn hoặc nhỏ hơn đều vừa khung ảnh */
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decoration {
    position: absolute;
    z-index: -1;
    /* Họa tiết 1 đang đè lên khung ảnh nên cách làm là thêm position vào khung ảnh + Z-Index */
}

.hero__decoration--left {
    left: -58px;
    bottom: 10px;
}

.hero__decoration--right {
    top: 16px;
    right: -43px;
}

.hero__img--Small-wrap {
    align-self: flex-end; /* Tự canh bản thân */
    width: 186px;
    height: 244px;
    background-color: #faa7ad;
    margin: 0px 0px -58px -24px; /* Thứ tự: Trên - Phải - Dưới - Trái */
    border: 2px solid #f7dddf;
}

.hero__lists {
    position: absolute;
    left: 129px;
    bottom: 0px;

    width: 250px;
    height: 156px;
    padding: 18px 14px;
    background-color: white;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero__lists--items-thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero__lists--items {
    display: flex;
}

.hero__lists--items-info {
    margin-left: 10px;
}

.hero__lists--items-title {
    font-family: Sora, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181e52;
}

.hero__lists--items-skeleton {
    width: var(--width, 118px);
    height: 4px;
    margin-top: 6px;
    background-color: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero__lists--items-separate {
    width: 100%;
    height: 2px;
    margin: 20px 0px;
    border-radius: 99px;
    background-color: #f2f2f2;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.1;
    color: #000958;
}

.hero__desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta--btn {
    min-width: 190px;
    --height: 60px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta--link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #000958;
    text-decoration: underline;
}

/* ------------------------------------------------ About ------------------------------------------------ */

.about {
    margin-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    row-gap: 146px;
}

.about__content {
}

.about__label {
    font-family: sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
}

.about__heading,
.about__desc {
    width: 444px;
}

.about__checklists {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    justify-content: flex-start;
    gap: 36px;
}

.about__checklists--Items {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}
.about__checklists--Items::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__checklists--Items::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../Icons/Check-OK.svg);
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    margin-top: 165px;
    left: 0px;
    width: 136px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba (85, 240, 255, 0.17);
    border-radius: 10px;
    padding: 30px 26px;
    text-align: center;
}

.about__card--title {
    font-family: sora, sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: white;
}

.about__card--desc {
    margin-top: 14px;
    font-size: 1.4rem;
    line-height: 1.43;
    color: #c6f4f9;
}

.about__card--decor {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img--wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img--wrap::after {
    content: "";
    position: absolute;
    height: 336px;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    border-radius: 16px;
    z-index: -1; /* Thêm vào để nó hơn phần tử cạnh nó */
}
.about__img {
    /* Kĩ thuật giải quyết khi ảnh bị hở, không nằm xuống tận chân trang */
    display: block;
    margin: 0 auto;
    width: 450px;
}

.about__decoration {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__img--bottom {
    margin-left: 0;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
    width: 458px;
}

.about__img--bottom::after {
    content: none;
}

.about__bottom {
    width: 100%;
}

.about__image--bottom {
    position: absolute;
}

.about__image--bottom:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__image--bottom:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__image--bottom:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__image--bottom:nth-child(4) {
    top: 268px;
    right: -33px;
}

.about__image--bottom:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__image--bottom:nth-child(6) {
    right: -54px;
    top: 440px;
}

.about__desc--bottom {
    width: 511px;
    margin-bottom: 50px;
}

.tab__Lists {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__Lists::after,
.tab__Items--active::after,
.tab__content--more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background-color: red;
    opacity: 0.07;
}

.tab__Items--active::after {
    width: 95px;
    opacity: 1;
}

.tab__Items {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__Icons {
    width: 20px;
}

.tab__title {
    font-family: sora, sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496a;
}

.tab__content {
    padding-top: 36px;
}

.tab__content--items {
    display: none;
}

.tab__content--itemsActive {
    display: block;
}

.tab__content--desc {
    width: 391px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.tab__content--more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #ff5d31;
}

.tab__content--more::after {
    opacity: 1;
    height: 1.5px;
}

/* ------------------------------------------------ Service ------------------------------------------------ */

.service {
    margin-top: 190px;
    background-color: #fff6ed;
    padding: 68px 0px 100px;
}

.service__top {
    text-align: center;
}

.service__desc {
    font-family: sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    margin-bottom: 15px;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 66px;
}

.service-item {
    width: 294px;
    padding: 30px;
    background-color: white;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    padding-left: 12px;
    position: relative;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.service-item__heading::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 2px;

    border-radius: 1px;
    background: linear-gradient(#ff5b2e, #ffa187);

    inset: 0 auto 0 0; /* Trên = 0 ; Phải không canh = auto ; dưới = 0 ; trái = 0 */
}

.service-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    font-family: sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}

.service-item__more::after {
    content: url(../Icons/Service-Arrow.svg);
    margin: 2px 0px 0px 5px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 100%);
    border-radius: 10px;
}

.service__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.service__cta--wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: #ff5b2e;
    border-color: currentColor;
}
